---
import Bases from '../Layout/Layout-Article.astro'
// import Nba from '../components/Nba.jsx'
import Heros from '../components/Hero.jsx'

let allPosts = Astro.fetchContent('./posts/articles/*.md');
allPosts = allPosts.sort((a, b) =>new Date(b.publishDate.replace(/th/i,'').replace(/nd/i,'').replace(/rd/i,'').replace(/st/i,''))- new Date(a.publishDate.replace(/th/i,'').replace(/nd/i,'').replace(/rd/i,'').replace(/st/i,'')) );


	// const courtImage = allPosts[0]

	// const skip = (direction) => {
	// 	let currentIndex = allPosts.findIndex(
	// 		(court) => court === courtImage
	// 	);
	// 	console.log(currentIndex);
		// if (direction === 'forward') {
		// 	setcourtImage(
		// 		court.galleryImages[(currentIndex + 1) % court.galleryImages.length]
		// 	);
		// 	console.log(courtImage);
		// }
		// if (direction === 'back') {
		// 	if ((currentIndex - 1) % court.galleryImages.length === -1) {
		// 		setcourtImage(court.galleryImages[court.galleryImages.length - 1]);

		// 		return;
		// 	}
		// 	setcourtImage(
		// 		court.galleryImages[(currentIndex - 1) % court.galleryImages.length]
		// 	);
		// }
	// };
const nbaportugal= await ( await fetch(Astro.request.url.origin+'/nba.json')).json();
const slam= await ( await fetch(Astro.request.url.origin+'/slam.json')).json();
const realgm= await ( await fetch(Astro.request.url.origin+'/realgm.json')).json();
const ballislife= await ( await fetch(Astro.request.url.origin+'/ballislife.json')).json();

console.log(slam)




---

<Bases>
		
        <Heros articles={allPosts} client:load/>
        <!-- <div class="container">
			<div
				class="top"
				style="
				
					background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
						url('/assets/Homepage/hero main.svg');
							background-attachment: fixed;
							background-position:center;
				"
			>
				<img src="/assets/courts/left.svg" alt="" class="changeleft"/><img src="/assets/courts/right.svg" alt="" class="changeright"/>
				<div class="headline quotes">CARA OU COROA</div>
				<div class="sub-headline">
					THE NEW ICONIC LISBON COURT BY EDIS AND PARIZ
				</div>

				
			</div>
		</div> -->
		
        <section class="articles white" style="min-height:0;">
			<div class="articles-featured">
				<div class="featured">Featured</div>
				<img
					class="featured-line"
					src="/assets/articles/linha.svg"
					alt="line"
				/>
			</div>

			<div class="articles-list">
			{allPosts.filter(article=>article.featured==true).slice(0,3).map(article => (

				<a class="articles-item" href={article.url} >
					<div
						class="articles-item"
						style={`
							background:linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3) ), url('${article?.image}');
							background-repeat: no-repeat;
							background-size: cover;
								background-color: hsla(0%, 0%, 0%, 0.5);
							background-position:center;
					
					
						`}
						onclick={`location.href='${article.url}'`}
					>
						<div class="title" style={article.title.length>16?"font-size:0.7em":''}>{article?.title}</div>
						<div class="article-underline"></div>
						<div class="by">by {article?.author}</div>
					</div>
				</a>
			))}
				
				
			</div>
		</section>
		<section class="articles white">
			<div class="articles-featured">
				<div class="featured">all articles</div>
				<img
					class="featured-line"
					src="/assets/articles/linha.svg"
					alt="line"
				/>
			</div>
			<div class="articles-list-all">
			{allPosts.slice(0,6).map(article =>(
				<a class="article-item" href={article.url}>
					<div  >
						<div class="img"><img src={article?.image} alt=""></div>
						<div class="article-title" style={article.title.length>16?"font-size:0.8em":''}>{article?.title}</div>
						<div class="article-writer"> BY {article?.author}</div>
					</div>
				</a>))}
				
				{allPosts.slice(6,allPosts.length).map(article =>(
				<a class="article-item hidden" href={article.url} >
					<div >
						<div class="img"><img src={article?.image} alt=""></div>
						<div class="article-title" style={article.title.length>16?"font-size:0.8em":''}>{article?.title}</div>
						<div class="article-writer"> BY {article?.author}</div>
					</div>
				</a>))}

				</div>
				<div class="buttons-black centered" onclick="showMe()">show more</div>
			<div class="articles-featured">
				<div class="featured">NBA Portugal</div>
				<img
					class="featured-line"
					src="/assets/articles/linha.svg"
					alt="line"
				/>
			</div>
				<div class="articles-list-all">
			{nbaportugal.filter(i=>i.author!=null).slice(0,6).map(article =>(
				<a class="article-item" href={article.url}>
					<div  >
						<div class="img"><img src={article?.image} alt=""></div>
						<div class="article-title" style={article.title.length>16?"font-size:0.8em":''}>{article?.title}</div>
						<div class="article-writer"> BY {article?.author}</div>
					</div>
				</a>))}
				
				{nbaportugal.filter(i=>i.author!=null).slice(6,allPosts.length).map(article =>(
				<a class="article-item hiddennba" href={article.url} >
					<div >
						<div class="img"><img src={article?.image} alt=""></div>
						<div class="article-title" style={article.title.length>16?"font-size:0.8em":''}>{article?.title}</div>
						<div class="article-writer"> BY {article?.author}</div>
					</div>
				</a>))}
			</div>
			<div class="buttons-black centered" onclick="showMenba()">show more</div>
			<div class="articles-featured">
				<div class="featured">Slam</div>
				<img
					class="featured-line"
					src="/assets/articles/linha.svg"
					alt="line"
				/>
			</div>
				<div class="articles-list-all">
			{slam.filter(i=>i.author!=null).slice(0,6).map(article =>(
				<a class="article-item" href={article.url}>
					<div  >
						<div class="img"><img src={article?.image} alt=""></div>
						<div class="article-title" style={article.title.length>16?"font-size:0.8em":''}>{article?.title}</div>
						<div class="article-writer"> BY {article?.author}</div>
					</div>
				</a>))}
				
				{slam.filter(i=>i.author!=null).slice(6,allPosts.length).map(article =>(
				<a class="article-item hiddenslam" href={article.url} >
					<div >
						<div class="img"><img src={article?.image} alt=""></div>
						<div class="article-title" style={article.title.length>16?"font-size:0.8em":''}>{article?.title}</div>
						<div class="article-writer"> BY {article?.author}</div>
					</div>
				</a>))}
			</div>
			<div class="buttons-black centered" onclick="showMeslam()">show more</div>
			<div class="articles-featured">
				<div class="featured">BasketBall RealGM</div>
				<img
					class="featured-line"
					src="/assets/articles/linha.svg"
					alt="line"
				/>
			</div>
				<div class="articles-list-all">
			{realgm.filter(i=>i.author!=null).slice(0,6).map(article =>(
				<a class="article-item" href={article.url}>
					<div  >
						<div class="img"><img src={article?.image} alt=""></div>
						<div class="article-title" style={article.title.length>16?"font-size:0.8em":''}>{article?.title}</div>
						<div class="article-writer"> BY {article?.author}</div>
					</div>
				</a>))}
				
				{realgm.filter(i=>i.author!=null).slice(6,allPosts.length).map(article =>(
				<a class="article-item hiddenreal" href={article.url} >
					<div >
						<div class="img"><img src={article?.image} alt=""></div>
						<div class="article-title" style={article.title.length>16?"font-size:0.8em":''}>{article?.title}</div>
						<div class="article-writer"> BY {article?.author}</div>
					</div>
				</a>))}
			</div>
			<div class="buttons-black centered" onclick="showMereal()">show more</div>
			<div class="articles-featured">
				<div class="featured">Ball is Life</div>
				<img
					class="featured-line"
					src="/assets/articles/linha.svg"
					alt="line"
				/>
			</div>
				<div class="articles-list-all">
			{ballislife.filter(i=>i.author!=null).slice(0,6).map(article =>(
				<a class="article-item" href={article.url}>
					<div  >
						<div class="img"><img src={article?.image} alt=""></div>
						<div class="article-title" style={article.title.length>16?"font-size:0.8em":''}>{article?.title}</div>
						<div class="article-writer"> BY {article?.author}</div>
					</div>
				</a>))}
				
				{ballislife.filter(i=>i.author!=null).slice(6,allPosts.length).map(article =>(
				<a class="article-item hiddenball" href={article.url} >
					<div >
						<div class="img"><img src={article?.image} alt=""></div>
						<div class="article-title" style={article.title.length>16?"font-size:0.8em":''}>{article?.title}</div>
						<div class="article-writer"> BY {article?.author}</div>
					</div>
				</a>))}
			</div>
			<div class="buttons-black centered" onclick="showMeball()">show more</div>
		</section>
		<!-- <section class="articles white">
			<div class="articles-featured">
				<div class="featured">NBA Portugal</div>
				<img
					class="featured-line"
					src="/assets/Homepage/section line.svg"
					alt="line"
				/>
			</div>
		<div class="articles-list-all">
			{nbaportugal.filter(i=>i.author!=null).slice(0,6).map(article =>(
				<a class="article-item" href={article.url}>
					<div  >
						<div class="img"><img src={article?.image} alt=""></div>
						<div class="article-title" style={article.title.length>16?"font-size:0.8em":''}>{article?.title}</div>
						<div class="article-writer"> BY {article?.author}</div>
					</div>
				</a>))}
				
				{nbaportugal.filter(i=>i.author!=null).slice(6,allPosts.length).map(article =>(
				<a class="article-item hidden" href={article.url} >
					<div >
						<div class="img"><img src={article?.image} alt=""></div>
						<div class="article-title" style={article.title.length>16?"font-size:0.8em":''}>{article?.title}</div>
						<div class="article-writer"> BY {article?.author}</div>
					</div>
				</a>))}
			</div>
			<Nba client:visible/>
			<div class="buttons-black centered" >show more</div>
		</section> -->
<script>
function showMe() {
const hiddenArticles=document.querySelectorAll('.hidden');
 console.log(hiddenArticles[0]) ;

  if(hiddenArticles){
hiddenArticles.forEach(article=>{ 

	 article.classList.add('hidden-disabled')
	 article.classList.remove('hidden')

 console.log('opened')
 });
   }
   else {
    hiddenArticles.forEach(article=>{ 
const hiddenArticles=document.querySelectorAll('.hidden-disabled');		

	 article.classList.add('hidden')
	 article.classList.remove('hidden-disabled')

 console.log('locked')
 });
   }
   } 
function showMenba() {
const hiddenArticles=document.querySelectorAll('.hiddennba');
 console.log(hiddenArticles[0]) ;

  if(hiddenArticles){
hiddenArticles.forEach(article=>{ 

	 article.classList.add('hidden-disabled')
	 article.classList.remove('hiddennba')

 console.log('opened')
 });
   }
   else {
    hiddenArticles.forEach(article=>{ 
const hiddenArticles=document.querySelectorAll('.hidden-disabled');		

	 article.classList.add('hidden')
	 article.classList.remove('hidden-disabled')

 console.log('locked')
 });
   }
   } 
function showMeslam() {
const hiddenArticles=document.querySelectorAll('.hiddenslam');
 console.log(hiddenArticles[0]) ;

  if(hiddenArticles){
hiddenArticles.forEach(article=>{ 

	 article.classList.add('hidden-disabled')
	 article.classList.remove('hiddenslam')

 console.log('opened')
 });
   }
   else {
    hiddenArticles.forEach(article=>{ 
const hiddenArticles=document.querySelectorAll('.hidden-disabled');		

	 article.classList.add('hidden')
	 article.classList.remove('hidden-disabled')

 console.log('locked')
 });
   }
   } 
function showMereal() {
const hiddenArticles=document.querySelectorAll('.hiddenreal');
 console.log(hiddenArticles[0]) ;

  if(hiddenArticles){
hiddenArticles.forEach(article=>{ 

	 article.classList.add('hidden-disabled')
	 article.classList.remove('hiddenreal')

 console.log('opened')
 });
   }
   else {
    hiddenArticles.forEach(article=>{ 
const hiddenArticles=document.querySelectorAll('.hidden-disabled');		

	 article.classList.add('hidden')
	 article.classList.remove('hidden-disabled')

 console.log('locked')
 });
   }
   } 
function showMeball() {
const hiddenArticles=document.querySelectorAll('.hiddenball');
 console.log(hiddenArticles[0]) ;

  if(hiddenArticles){
hiddenArticles.forEach(article=>{ 

	 article.classList.add('hidden-disabled')
	 article.classList.remove('hiddenball')

 console.log('opened')
 });
   }
   else {
    hiddenArticles.forEach(article=>{ 
const hiddenArticles=document.querySelectorAll('.hidden-disabled');		

	 article.classList.add('hidden')
	 article.classList.remove('hidden-disabled')

 console.log('locked')
 });
   }
   } 

</script>
</Bases>