---
import Bases from '../Layout/Layout-Article.astro';
import nbaportugal from '/nba.json';
import slam from '/slam.json';
import realgm from '/realgm.json';
import ballislife from '/ballislife.json';
import bleacher from '/bleach.json';
import euro from '/euro.json';

let allPosts = await Astro.fetchContent('./posts/articles/*.md');
allPosts = allPosts.sort((a, b) =>new Date(b.publishDate.replace(/th/i,'').replace(/nd/i,'').replace(/rd/i,'').replace(/st/i,'')).valueOf()- new Date(a.publishDate.replace(/th/i,'').replace(/nd/i,'').replace(/rd/i,'').replace(/st/i,'')).valueOf() );
//console.log(nbaportugal);
---

<Bases>

	<!-- Hero Section -->		
    <!-- <Heros articles={allPosts} client:visible/> -->
    <div class="container">
		<div
			class="top"
			style={`
				background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
				url('${allPosts[0]?.image}');
				background-repeat: no-repeat;
				background-position:center;
				background-size: cover;`
			}
		>
			
		<!-- <img src="/assets/courts/left.svg" alt="" class="changeleft"/><img src="/assets/courts/right.svg" alt="" class="changeright"/> -->
			<div class="headline">
				<a href={allPosts[0]?.url}>{allPosts[0]?.title}</a>
			</div>
			<div class="sub-headline">
				{allPosts[0]?.subname}
			</div>
			<div class='sub-text centered' >
				<p >{allPosts[0]?.publishDate.split('-')[0]}</p><p class="notranslate">{allPosts[0]?.author}</p>
			</div>			
		</div>
	</div>
		
	<!-- Featured Section -->
	<section class="articles white" style="min-height:0;">
		<div class="articles-featured">
			<div class="featured">Featured</div>
			<img
				class="featured-line"
				src="/assets/articles/linha.svg"
				alt="line"
			/>
		</div>

		<div class="articles-list">
			{allPosts.filter(article=>article.featured==true).slice(0,3).map(article => (

				<a class="articles-item" href={article.url} >
					<div
						class="articles-item"
						style={`
							background:linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3) ), url('${article?.image}');
							background-repeat: no-repeat;
							background-size: cover;
							background-color: hsla(0%, 0%, 0%, 0.5);
							background-position:center;
							`}
						onclick={`location.href='${article.url}'`}
					>
						<div class="title" style={article.title.length>16?"font-size:0.7em":''}>{article?.title}</div>
						<div class="article-underline"></div>
						<div class="by">By {article?.author}</div>
					</div>
				</a>
			))}
		
		</div>
	</section>
	
	<!-- Hoopers Article Section -->
	<section class="articles white">
		<div class="articles-featured">
			<div id="hoopers-articles" class="featured">hoopers</div>
			<img
				class="featured-line"
				src="/assets/articles/linha.svg"
				alt="line"
			/>
		</div>
		

		<div class="articles-list-all">
			<!-- Filter 6 last articles, then filters the rest of them -->
			{allPosts.slice(0,6).map(article =>(
				<a class="article-item "  href={article.url}>
					<div style="display: flex;flex-direction: column;height: 100%;"  >
						<div class="img"><img src={article?.image} alt=""></div>
						<div set:html={article?.title} class="article-title" ></div>
						<div set:html={"By "+article?.author} class="article-writer"></div>
					</div>
				</a>
			))}
				
			{allPosts.slice(6,18).map(article =>(
				<a class="article-item hidden" href={article.url} >
					<div style="display: flex;flex-direction: column;height: 100%;" >
						<div class="img"><img src={article?.image} alt=""></div>
						<div set:html={article?.title} class="article-title" ></div>
						<div set:html={"By "+article?.author} class="article-writer"></div>
					</div>
				</a>
			))}

		</div>
		
		<div class="buttons-double-div">
			<div id="hoopers-button" class="buttons-black centered " onclick="showMe()">SHOW MORE</div>
			<div id="hoopers-button-all" class="buttons-black centered hidden-link" onclick="window.open('https://www.hoopers.club/allarticles/')">ALL ARTICLES</div>
		</div>
				
		<div class="articles-featured">
			<div id="nba-articles" class="featured notranslate">NBA Portugal</div>
			<img
				class="featured-line"
				src="/assets/articles/linha.svg"
				alt="line"
			/>
		</div>
		
		<div class="articles-list-all">
			{nbaportugal.filter(i=>i.author!=null).slice(0,6).map(article =>(
				<a class="article-item" href={article?.url} target="_blank" >
					<div style="display: flex;flex-direction: column;height: 100%;"  >
						<div class="img"><img src={article?.image} alt=""></div>
						<div set:html={article?.title} class="article-title" ></div>
						<div set:html={"By "+article?.author} class="article-writer"></div>
					</div>
				</a>
			))}
				
			{nbaportugal.filter(i=>i.author!=null).slice(6,18).map(article =>(
				<a class="article-item hiddennba" href={article?.url}  target="_blank">
					<div style="display: flex;flex-direction: column;height: 100%;" >
						<div class="img"><img src={article?.image} alt=""></div>
						<div set:html={article?.title} class="article-title" ></div>
						<div set:html={"By "+article?.author} class="article-writer"></div>
					</div>
				</a>
			))}
		</div>
		
		<div class="buttons-double-div">
			<div id="nba-button" class="buttons-black centered" onclick="showMeNba()">SHOW MORE</div>
			<div id="nba-button-go" class="buttons-black centered hidden-link-nba" onclick="window.open('https://www.nbaportugal.com/','_blank')">GO TO nba portugal</div>
		</div>
		
		<div class="articles-featured">
			<div id="bleacher-articles" class="featured notranslate">Bleacher Report</div>
			<img
				class="featured-line"
				src="/assets/articles/linha.svg"
				alt="line"
			/>
		</div>
		
		<div class="articles-list-all">
			{bleacher.filter(i=>i.author!=null).slice(0,6).map(article =>(
				<a class="article-item" href={article?.url} target="_blank" >
					<div style="display: flex;flex-direction: column;height: 100%;"  >
						<div class="img"><img src={article?.image} alt=""></div>
						<div set:html={article?.title} class="article-title" ></div>
						<div set:html={"By "+article?.author} class="article-writer"></div>
					</div>
				</a>
			))}
				
			{bleacher.filter(i=>i.author!=null).slice(6,18).map(article =>(
				<a class="article-item hiddenbleacher" href={article?.url}  target="_blank">
					<div style="display: flex;flex-direction: column;height: 100%;" >
						<div class="img"><img src={article?.image} alt=""></div>
						<div set:html={article?.title} class="article-title" ></div>
						<div set:html={"By "+article?.author} class="article-writer"></div>
					</div>
				</a>
			))}
		</div>
		
		<div class="buttons-double-div">
			<div id="bleacher-button" class="buttons-black centered" onclick="showMeBleacher()">SHOW MORE</div>
			<div id="bleacher-button-go" class="buttons-black centered hidden-link-bleacher" onclick="window.open('https://www.bleacherreport.com/nba/','_blank')">GO TO bleacher report</div>
		</div>

		<div class="articles-featured">
			<div id="euro-articles" class="featured notranslate">EuroHoops</div>
			<img
				class="featured-line"
				src="/assets/articles/linha.svg"
				alt="line"
			/>
		</div>
		
		<div class="articles-list-all">
			{euro.filter(i=>i.author!=null).slice(0,6).map(article =>(
				<a class="article-item" href={article?.url} target="_blank" >
					<div style="display: flex;flex-direction: column;height: 100%;"  >
						<div class="img"><img src={article?.image} alt=""></div>
						<div set:html={article?.title} class="article-title" ></div>
						<div set:html={"By "+article?.author} class="article-writer"></div>
					</div>
				</a>
			))}
				
			{euro.filter(i=>i.author!=null).slice(6,18).map(article =>(
				<a class="article-item hiddeneuro" href={article?.url}  target="_blank">
					<div style="display: flex;flex-direction: column;height: 100%;" >
						<div class="img"><img src={article?.image} alt=""></div>
						<div set:html={article?.title} class="article-title" ></div>
						<div set:html={"By "+article?.author} class="article-writer"></div>
					</div>
				</a>
			))}
		</div>
		
		<div class="buttons-double-div">
			<div id="euro-button" class="buttons-black centered" onclick="showMeEuro()">SHOW MORE</div>
			<div id="euro-button-go" class="buttons-black centered hidden-link-euro" onclick="window.open('https://www.eurohoops.net/','_blank')">GO TO eurohoops</div>
		</div>

		<div class="articles-featured">
			<div class="featured notranslate">Slam Online</div>
			<img
				class="featured-line"
				src="/assets/articles/linha.svg"
				alt="line"
			/>
		</div>
		
		<div class="articles-list-all">
			{slam.filter(i=>i.author!=null).slice(0,6).map(article =>(
				<a class="article-item" href={article.url} target="_blank">
					<div style="display: flex;flex-direction: column;height: 100%;"  >
						<div class="img"><img src={article?.image} alt=""></div>
						<div set:html={article?.title} class="article-title" ></div>
						<div set:html={"By "+article?.author} class="article-writer"></div>
					</div>
				</a>
			))}
				
			{slam.filter(i=>i.author!=null).slice(6,slam.length).map(article =>(
				<a class="article-item hiddenslam" href={article?.url} target="_blank" >
					<div style="display: flex;flex-direction: column;height: 100%;">
						<div class="img"><img src={article?.image} alt=""></div>
						<div set:html={article?.title} class="article-title" ></div>
						<div set:html={"By "+article?.author} class="article-writer"></div>
					</div>
				</a>	
			))}
		</div>
		
		<div class="buttons-black centered" onclick="window.open('https://www.nbaportugal.com/','_blank')">GO TO slam</div>
		
		<div class="articles-featured">
			<div id="real-articles" class="featured notranslate">BasketBall RealGM</div>
			<img
				class="featured-line"
				src="/assets/articles/linha.svg"
				alt="line"
			/>
		</div>
		
		<div class="articles-list-all">
			{realgm.filter(i=>i.author!=null).slice(0,6).map(article =>(
				<a class="article-item" href={article.url} target="_blank">
					<div style="display: flex;flex-direction: column;height: 100%;" >
						<div class="img"><img src={article?.image} alt=""></div>
						<div set:html={article?.title} class="article-title" ></div>
						<div set:html={"By "+article?.author} class="article-writer"></div>
					</div>
				</a>
			))}
			
			
			{realgm.filter(i=>i.author!=null).slice(6,18).map(article =>(
				<a class="article-item hiddenreal" href={article.url} target="_blank" >
					<div  style="display: flex;flex-direction: column;height: 100%;">
						<div class="img"><img src={article?.image} alt=""></div>
						<div set:html={article?.title} class="article-title" ></div>
						<div set:html={"By "+article?.author} class="article-writer"></div>
					</div>
				</a>
			))}
		</div>
		
		<div class="buttons-double-div">
			<div id="real-button" class="buttons-black centered " onclick="showMeReal()">SHOW MORE</div>
			<div id="real-button-go" class="buttons-black centered hidden-link-real" onclick="window.open('https://basketball.realgm.com/')">GO TO realgm</div>
		</div>
		
		<div class="articles-featured">
			<div id="ball-articles" class="featured notranslate">Ball is Life</div>
			<img
				class="featured-line"
				src="/assets/articles/linha.svg"
				alt="line"
			/>
		</div>
		
		<div class="articles-list-all">
			{ballislife.filter(i=>i.author!=null).slice(0,6).map(article =>(
				<a class="article-item" href={article.url} target="_blank">
					<div style="display: flex;flex-direction: column;height: 100%;"  >
						<div class="img"><img src={article?.image} alt=""></div>
						<div set:html={article?.title} class="article-title" ></div>
						<div set:html={"By "+article?.author} class="article-writer"></div>
					</div>
				</a>
			))}
				
			{ballislife.filter(i=>i.author!=null).slice(6,18).map(article =>(
				<a class="article-item hiddenball" href={article.url}  target="_blank">
					<div style="display: flex;flex-direction: column;height: 100%;">
						<div class="img"><img src={article?.image} alt=""></div>
						<div set:html={article?.title} class="article-title" ></div>
						<div set:html={"By "+article?.author} class="article-writer"></div>
					</div>
				</a>
			))}
		</div>
		
		<div class="buttons-double-div">
			<div id="ball-button" class="buttons-black centered " onclick="showMeBall()">SHOW MORE</div>
			<div id="ball-button-go" class="buttons-black centered hidden-link-ball" onclick="window.open('https://ballislife.com//')">GO TO ball is life</div>
		</div>
		<br><br/>
	</section>
		 
	
	<script>
				
		// function to show 12 more articles and display all articles button
		function showMe() {
			// gets all hidden elements with .hidden class name
			const hiddenArticles=document.querySelectorAll('.hidden');
			// gets button's by element's id
			const hoopersButton = document.getElementById('hoopers-button');
			const hoopersButtonAll = document.getElementById('hoopers-button-all');	
		
			if(hiddenArticles){
				// displays hidden articles
				hiddenArticles.forEach(article=>{ 
					article.classList.add('hidden-disabled');
			 		article.classList.remove('hidden');   
		 		});
				
				// displays all articles button
				hoopersButtonAll.classList.remove('hidden-link');
				hoopersButtonAll.classList.add('hidden-disabled');
                hoopersButton.classList.remove('hidden-link');
				hoopersButton.classList.add('hidden-disabled');
                hoopersButton.innerHTML = "Mostrar Menos";
				hoopersButton.setAttribute('onclick', 'showLess()');
   			} 
		}
		// function to hide hidden articles and hide all articles button
		function showLess() {
			// gets all hidden elements that are not hiddem with .hidden-disabled class name
			const hiddenDisabled=document.querySelectorAll('.hidden-disabled');
			// gets the top of given article section to scroll up
			const articleTop = document.querySelector('#hoopers-articles');
			// gets button's by element's id
			const hoopersButton = document.getElementById('hoopers-button');
			const hoopersButtonAll = document.getElementById('hoopers-button-all');

			if(hiddenDisabled){
				// hides hidden articles	
				hiddenDisabled.forEach(article=>{ 
					article.classList.remove('hidden-disabled');
			 		article.classList.add('hidden');			    
		 		});
				
				// hides all articles button
				hoopersButtonAll.classList.add('hidden-link');
				hoopersButtonAll.classList.remove('hidden-disabled');
                hoopersButton.classList.add('hidden-link');
				hoopersButton.classList.remove('hidden-disabled');
                hoopersButton.innerHTML = "SHOW MORE";
				hoopersButton.setAttribute('onclick', 'showMe()');
				// scrolls up to top of articles section
				articleTop.scrollIntoView({
  					behavior: 'smooth'
				});	
    		}
		}
 
		// function to show 12 more nbaportugal articles and display go to nbaportugal button
		function showMeNba() {
			// gets all hidden elements with .hiddennba class name
			const hiddenArticlesNba=document.querySelectorAll('.hiddennba');
			// gets button's by element's id
			const nbaButton = document.getElementById('nba-button');
			const nbaButtonGo = document.getElementById('nba-button-go');	
 
 			if(hiddenArticlesNba){
				hiddenArticlesNba.forEach(article=>{ 
					// displays hidden articles
					article.classList.add('hidden-disabled');
					article.classList.remove('hiddennba');
				});
				// displays all articles button
				nbaButtonGo.classList.remove('hidden-link-nba');
				nbaButtonGo.classList.add('hidden-disabled');
                nbaButton.classList.remove('hidden-link-nba');
				nbaButton.classList.add('hidden-disabled');		
                nbaButton.innerHTML = "Mostrar Menos";
				nbaButton.setAttribute('onclick', 'showLessNba()');
   			} 
   		} 
		// function to hide hidden NBA Portugal articles and hide head to button
		function showLessNba() {
			// gets all hidden elements that are not hidden with .hidden-disabled class name
			const hiddenDisabled=document.querySelectorAll('.hidden-disabled');
			// gets the top of given article section to scroll up
			const nbaTop = document.querySelector('#nba-articles');
			// gets button's by element's id
			const nbaButton = document.getElementById('nba-button');
			const nbaButtonGo = document.getElementById('nba-button-go');

			if(hiddenDisabled){
				// hides hidden NBA Portugal's articles	
				hiddenDisabled.forEach(article=>{ 
					article.classList.remove('hidden-disabled');
			 		article.classList.add('hiddennba');			    
		 		});
				// hides head to button
				nbaButtonGo.classList.add('hidden-link-nba');
				nbaButtonGo.classList.remove('hidden-disabled');
                nbaButton.classList.add('hidden-link');
				nbaButton.classList.remove('hidden-disabled');
                nbaButton.innerHTML = "SHOW MORE";
				nbaButton.setAttribute('onclick', 'showMeNba()');
				// scrolls up to top of articles section
				nbaTop.scrollIntoView({
  					behavior: 'smooth'
				});	
    		}
		}

		// function to show 12 more nbaportugal articles and display go to nbaportugal button
		function showMeBleacher() {
			// gets all hidden elements with .hiddennba class name
			const hiddenArticlesBleacher=document.querySelectorAll('.hiddenbleacher');
			// gets button's by element's id
			const bleacherButton = document.getElementById('bleacher-button');
			const bleacherButtonGo = document.getElementById('bleacher-button-go');	
 
 			if(hiddenArticlesBleacher){
				hiddenArticlesBleacher.forEach(article=>{ 
					// displays hidden articles
					article.classList.add('hidden-disabled');
					article.classList.remove('hiddenbleacher');
				});
				
				// displays all articles button
				bleacherButtonGo.classList.remove('hidden-link-bleacher');
				bleacherButtonGo.classList.add('hidden-disabled');	
                bleacherButton.classList.remove('hidden-link-nba');
				bleacherButton.classList.add('hidden-disabled');		
                bleacherButton.innerHTML = "Mostrar Menos";
				bleacherButton.setAttribute('onclick', 'showLessBleacher()');
   			} 
   		} 
		// function to hide hidden NBA Portugal articles and hide head to button
		function showLessBleacher() {
			// gets all hidden elements that are not hidden with .hidden-disabled class name
			const hiddenDisabled=document.querySelectorAll('.hidden-disabled');
			// gets the top of given article section to scroll up
			const bleacherTop = document.querySelector('#bleacher-articles');
			// gets button's by element's id
			const bleacherButton = document.getElementById('bleacher-button');
			const bleacherButtonGo = document.getElementById('bleacher-button-go');

			if(hiddenDisabled){
				// hides hidden NBA Portugal's articles	
				hiddenDisabled.forEach(article=>{ 
					article.classList.remove('hidden-disabled');
			 		article.classList.add('hiddenbleacher');			    
		 		});
				// hides head to button
				bleacherButtonGo.classList.add('hidden-link-bleacher');
				bleacherButtonGo.classList.remove('hidden-disabled');
                bleacherButton.classList.add('hidden-link');
				bleacherButton.classList.remove('hidden-disabled');
                bleacherButton.innerHTML = "SHOW MORE";
				bleacherButton.setAttribute('onclick', 'showMeBleacher()');
				// scrolls up to top of articles section
				bleacherTop.scrollIntoView({
  					behavior: 'smooth'
				});	
    		}
		}

		// function to show 12 more eurohoops articles and display go to nbaportugal button
		function showMeEuro() {
			// gets all hidden elements with .hiddeneuro class name
			const hiddenArticlesEuro=document.querySelectorAll('.hiddeneuro');
			// gets button's by element's id
			const euroButton = document.getElementById('euro-button');
			const euroButtonGo = document.getElementById('euro-button-go');	
 
 			if(hiddenArticlesEuro){
				hiddenArticlesEuro.forEach(article=>{ 
					// displays hidden articles
					article.classList.add('hidden-disabled');
					article.classList.remove('hiddeneuro');
				});
				
				// displays all articles button
				euroButtonGo.classList.remove('hidden-link-euro');
				euroButtonGo.classList.add('hidden-disabled');	
                euroButton.classList.remove('hidden-link-nba');
				euroButton.classList.add('hidden-disabled');		
                euroButton.innerHTML = "Mostrar Menos";
				euroButton.setAttribute('onclick', 'showLessEuro()');
   			} 
   		} 
		// function to hide hidden Eurohoops articles and hide head to button
		function showLessEuro() {
			// gets all hidden elements that are not hidden with .hidden-disabled class name
			const hiddenDisabled=document.querySelectorAll('.hidden-disabled');
			// gets the top of given article section to scroll up
			const euroTop = document.querySelector('#euro-articles');
			// gets button's by element's id
			const euroButton = document.getElementById('euro-button');
			const euroButtonGo = document.getElementById('euro-button-go');

			if(hiddenDisabled){
				// hides hidden NBA Portugal's articles	
				hiddenDisabled.forEach(article=>{ 
					article.classList.remove('hidden-disabled');
			 		article.classList.add('hiddeneuro');			    
		 		});
				// hides head to button
				euroButtonGo.classList.add('hidden-link-euro');
				euroButtonGo.classList.remove('hidden-disabled');
                euroButton.classList.add('hidden-link');
				euroButton.classList.remove('hidden-disabled');
                euroButton.innerHTML = "SHOW MORE";
				euroButton.setAttribute('onclick', 'showMeEuro()');
				// scrolls up to top of articles section
				euroTop.scrollIntoView({
  					behavior: 'smooth'
				});	
    		}
		}

		// function to show 12 more RealGm articles and display go to nbaportugal button
		function showMeReal() {
			// gets all hidden elements with .hiddenreal class name
			const hiddenArticlesReal=document.querySelectorAll('.hiddenreal');
			// gets button's by element's id
			const realButton = document.getElementById('real-button');
			const realButtonGo = document.getElementById('real-button-go');	
 
 			if(hiddenArticlesReal){
				hiddenArticlesReal.forEach(article=>{ 
					// displays hidden articles
					article.classList.add('hidden-disabled');
					article.classList.remove('hiddenreal');
				});
				// displays head to button
				realButtonGo.classList.remove('hidden-link-real');
				realButtonGo.classList.add('hidden-disabled');	
                realButton.classList.remove('hidden-link-nba');
				realButton.classList.add('hidden-disabled');		
                realButton.innerHTML = "Mostrar Menos";
				realButton.setAttribute('onclick', 'showLessReal()');
   			} 
   		} 
		// function to hide hidden RealGM articles and hide head to button
		function showLessReal() {
			// gets all hidden elements that are not hidden with .hidden-disabled class name
			const hiddenDisabled=document.querySelectorAll('.hidden-disabled');
			// gets the top of given article section to scroll up
			const realTop = document.querySelector('#real-articles');
			// gets button's by element's id
			const realButton = document.getElementById('real-button');
			const realButtonGo = document.getElementById('real-button-go');

			if(hiddenDisabled){
				// hides hidden Real GM's articles	
				hiddenDisabled.forEach(article=>{ 
					article.classList.remove('hidden-disabled');
			 		article.classList.add('hiddenreal');			    
		 		});
				// hides head to button
				realButtonGo.classList.add('hidden-link-real');
				realButtonGo.classList.remove('hidden-disabled');
                realButton.classList.add('hidden-link');
				realButton.classList.remove('hidden-disabled');
                realButton.innerHTML = "SHOW MORE";
				realButton.setAttribute('onclick', 'showMeReal()');
				// scrolls up to top of articles section
				realTop.scrollIntoView({
  					behavior: 'smooth'
				});	
    		}
		}
		
		// function to show 12 more Ball is Life articles and display go to nbaportugal button
		function showMeBall() {
			// gets all hidden elements with .hiddenball class name
			const hiddenArticlesBall=document.querySelectorAll('.hiddenball');
			// gets button's by element's id
			const ballButton = document.getElementById('ball-button');
			const ballButtonGo = document.getElementById('ball-button-go');	
 
 			if(hiddenArticlesBall){
				hiddenArticlesBall.forEach(article=>{ 
					// displays hidden articles
					article.classList.add('hidden-disabled');
					article.classList.remove('hiddenball');
				});
				// displays head to button
				ballButtonGo.classList.remove('hidden-link-ball');
				ballButtonGo.classList.add('hidden-disabled');
                ballButton.classList.remove('hidden-link-nba');
				ballButton.classList.add('hidden-disabled');		
                ballButton.innerHTML = "Mostrar Menos";
				ballButton.setAttribute('onclick', 'showLessBall()');	
   			} 
   		} 
		// function to hide hidden Ball is Life articles and hide head to button
		function showLessBall() {
			// gets all hidden elements that are not hidden with .hidden-disabled class name
			const hiddenDisabled=document.querySelectorAll('.hidden-disabled');
			// gets the top of given article section to scroll up
			const ballTop = document.querySelector('#ball-articles');
			// gets button's by element's id
			const ballButton = document.getElementById('ball-button');
			const ballButtonGo = document.getElementById('ball-button-go');

			if(hiddenDisabled){
				// hides hidden Ball is Life's articles	
				hiddenDisabled.forEach(article=>{ 
					article.classList.remove('hidden-disabled');
			 		article.classList.add('hiddenball');			    
		 		});
				// hides head to button
				ballButtonGo.classList.add('hidden-link-ball');
				ballButtonGo.classList.remove('hidden-disabled');
                ballButton.classList.add('hidden-link');
				ballButton.classList.remove('hidden-disabled');
                ballButton.innerHTML = "SHOW MORE";
				ballButton.setAttribute('onclick', 'showMeBall()');
				// scrolls up to top of articles section
				ballTop.scrollIntoView({
  					behavior: 'smooth'
				});	
    		}
		}
	</script>
</Bases>