---
import Bases from '../Layout/Layout.astro'
import Nba from '../components/Nba.jsx'

let allPosts = Astro.fetchContent('./posts/articles/*.md');
allPosts = allPosts.sort((a, b) =>new Date(b.publishDate.replace(/th/i,'').replace(/nd/i,'').replace(/rd/i,'').replace(/st/i,''))- new Date(a.publishDate.replace(/th/i,'').replace(/nd/i,'').replace(/rd/i,'').replace(/st/i,'')) );




---

<Bases>
		
        
        <div class="container">
			<div
				class="top"
				style="
				
					background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
						url('/assets/Homepage/hero main.svg');
							background-attachment: fixed;
				"
			>
				
				<div class="headline quotes">CARA OU COROA</div>
				<div class="sub-headline">
					THE NEW ICONIC LISBON COURT BY EDIS AND PARIZ
				</div>

				
			</div>
		</div>
        <section class="articles white" style="min-height:0;">
			<div class="articles-featured">
				<div class="featured">Featured</div>
				<img
					class="featured-line"
					src="/assets/Homepage/section line.svg"
					alt="line"
				/>
			</div>

			<div class="articles-list">
			{allPosts.filter(article=>article.featured==true).slice(0,3).map(article => (

				<div
					class="articles-item"
					style={`
						background: url('${article?.image}');
						background-repeat: no-repeat;
						background-size: cover;
						background-color: hsla(0, 0%, 0%, 50%);
						background-position:center;
					`}
					onclick={`location.href='${article.url}'`}
				>
					<div class="title" style={article.title.length>16?"font-size:0.7em":''}>{article?.title}</div>
					<div class="article-underline"></div>
					<div class="by">by {article?.author}</div>
				</div>
			))}
				
				
			</div>
		</section>
		<section class="articles white">
			<div class="articles-featured">
				<div class="featured">all articles</div>
				<img
					class="featured-line"
					src="/assets/Homepage/section line.svg"
					alt="line"
				/>
			</div>
			<div class="articles-list-all">
			{allPosts.slice(0,6).map(article =>(
				<div class="article-item" onclick={`location.href='${article.url}'`}>
					<div class="img"><img src={article?.image} alt=""></div>
					<div class="article-title" style={article.title.length>16?"font-size:0.8em":''}>{article?.title}</div>
					<div class="article-writer"> BY {article?.author}</div>
				</div>))}
				
				{allPosts.slice(6,allPosts.length).map(article =>(
				<div class="article-item hidden" onclick={`location.href='${article.url}'`}>
					<div class="img"><img src={article?.image} alt=""></div>
					<div class="article-title" style={article.title.length>16?"font-size:0.8em":''}>{article?.title}</div>
					<div class="article-writer"> BY {article?.author}</div>
				</div>))}
				
			</div>
			<div class="buttons-black centered" onclick="showMe()">show more</div>
		</section>
		<!-- <section class="articles white">
			<div class="articles-featured">
				<div class="featured">NBA Portugal</div>
				<img
					class="featured-line"
					src="/assets/Homepage/section line.svg"
					alt="line"
				/>
			</div>
		
			<Nba client:visible/>
			<div class="buttons-black centered" >show more</div>
		</section> -->
<script>
function showMe() {
const hiddenArticles=document.querySelectorAll('.hidden');
 console.log(hiddenArticles[0]) ;

  if(hiddenArticles){
hiddenArticles.forEach(article=>{ 

	 article.classList.add('hidden-disabled')
	 article.classList.remove('hidden')

 console.log('opened')
 });
   }
   else {
    hiddenArticles.forEach(article=>{ 
const hiddenArticles=document.querySelectorAll('.hidden-disabled');		

	 article.classList.add('hidden')
	 article.classList.remove('hidden-disabled')

 console.log('locked')
 });
   }
   } 

</script>
</Bases>