---
import Bases from '../Layout/Layout-Article.astro';
import Games from '../components/Games.astro';
//import GallerySection from '../components/Gallery-section.astro';

let allPosts = await Astro.fetchContent('./posts/summerarticles/*.md');

allPosts = allPosts.sort((a, b) =>new Date(b.publishDate.replace(/th/i,'').replace(/nd/i,'').replace(/rd/i,'').replace(/st/i,'')).valueOf() - new Date(a.publishDate.replace(/th/i,'').replace(/nd/i,'').replace(/rd/i,'').replace(/st/i,'')).valueOf() );

---

<Bases>
		
        <!-- <Heros articles={allPosts} client:visible/> -->
        <div class="container">
			<div
				class="top"
				style="
					background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
					url('/assets/summer_league_bg_hero.jpg');
					background-repeat: no-repeat;
					background-size: cover;
					background-position:center; 
					display:flex;"
			>
<!--
					TO ADD UP THERE INSIDE STYLE WHEN SUMMER LEAGUE STARTS
					url('${allPosts[0]?.image}'); //and use {``} to wrap around style content
-->
				<!-- <img src="/assets/courts/left.svg" alt="" class="changeleft"/><img src="/assets/courts/right.svg" alt="" class="changeright"/> -->
				
				<div class="headline" style="height: 100%; width: 100%; padding:0; justify-content: space-around;">
					<img class="esportlogo" style="min-width: 40%; display: flex; max-width: 75%; padding-top: 2em; padding-bottom: 2em; height: 100%;" src="/assets/esports/Asset 1.svg" alt="">
<!--
					REMOVE BUTTON WHEN SUMMER LEAGUE SIGN UPS ARE OVER
-->
					<div id="special-summer-btn" class="buttons centered" style="z-index:1; display:flex; margin-top:auto; font-size: 25px;" onclick="window.open('https://form.typeform.com/to/NTWY2KVm?typeform-source=hoopers.club','_blank')">INSCREVE-TE AQUI
					</div>
<!--
					TO ADD UP THERE INSIDE STYLE WHEN SUMMER LEAGUE STARTS
					<a href={allPosts[0]?.url}>{allPosts[0]?.title}</a>
-->
				</div>
			</div>
		</div>
       
        <section class="articles black" style="min-height:0;">
			<div class="articles-featured">
				<div class="esport-title">Featured</div>
				<img
					class="featured-line"
					src="/assets/articles/linha.svg"
					alt="line"
				/>
			</div>
			<div class="articles-list">
				{allPosts.filter(article=>article.featured==true).slice(0,3).map(article => (

					<a class="articles-item" href={article.url} >
						<div
							class="articles-item"
							style={`
								background:linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3) ), url('${article?.image}');
								background-repeat: no-repeat;
								background-size: cover;
								background-color: hsla(0%, 0%, 0%, 0.5);
								background-position:center;			
							`}
							onclick={`location.href='${article.url}'`}
						>
							<div set:html={article?.title} class="title" style={article.title.length>16?"font-size:0.7em":''}>
							</div>
							<div class="article-underline"></div>
							<img class="esportlogosmall" src="/assets/esports/Asset 1.svg" alt=""/>
						</div>
					</a>
				))}		
			</div>
		</section>
<!--	TO ADD WHEN SUMMER LEAGUE STARTS	
		<GallerySection/>
-->		
		<Games />

		<div class="articles black " style="min-height: fit-content;height:fit-content; padding-bottom:1em;">
			<div class="articles-featured">
				<div class="esport-title">Summer league news</div>
				<img
					class="featured-line"
					src="/assets/articles/linha.svg"
					alt="line"
				/>
			</div>
			<div class="articles-list-all">
				{allPosts.slice(0,6).map(article =>(
					<a class="article-item"  href={article.url}>
						<div style="display: flex;flex-direction: column;height: 100%;"  >
							<div class="img"><img src={article?.image} alt=""></div>
							<div set:html={article?.title} class="article-title" style={article.title.length>16?"font-size:0.8em":''}>
							
							</div>
							<div set:html={ "BY "+article?.author} class="article-writer"></div>
						</div>
					</a>
				))}
				
				{allPosts.slice(6,allPosts.length).map(article =>(
					<a class="article-item hidden" href={article.url} >
						<div style="display: flex;flex-direction: column;height: 100%;" >
							<div class="img"><img src={article?.image} alt=""></div>
							<div set:html= {article?.title} class="article-title" style={article.title.length>16?"font-size:0.8em":''}>
								
							</div>
							<div set:html={"BY "+article?.author} class="article-writer"></div>
						</div>
					</a>
				))}
			</div>
			
			<div class="buttons-black centered" onclick="showMeHiddenSummerArticles()">show more</div>
		</div>
		
	<script>

		function slide(direction){
			var container = document.getElementById('gallery');
			scrollCompleted = 0;
			
			var slideVar = setInterval(function(){
				if(direction == 'left'){
					container.scrollLeft -= 90;
				} else {
					container.scrollLeft += 90;
				}
				
				scrollCompleted += 10; 
			
				if(scrollCompleted >= 80){
					window.clearInterval(slideVar);
				}
			}, 50);
		}

		// button show more function
		function showMeHiddenSummerArticles() {
			const hiddenArticles=document.querySelectorAll('.hidden');
			console.log(hiddenArticles[0]) ; 

			if(hiddenArticles){
				hiddenArticles.forEach(article=>{ 
					article.classList.add('hidden-disabled');
					article.classList.remove('hidden');
				});
			}
			else {
				hiddenArticles.forEach(article=>{ 
					const hiddenArticles=document.querySelectorAll('.hidden-disabled');		

					article.classList.add('hidden');
					article.classList.remove('hidden-disabled');
				});
			}
		}

	</script>
</Bases>