---
let frontpageProduct = await Astro.fetchContent('../pages/posts/frontpage/*.md');

---
<section class="products">
			<div class="title" style="padding-top:0;">
				<div class="title-section centerright-i">produtos</div>
				<img class="line centerleft-i " src="/assets/Homepage/section line.svg" alt="line" />
			</div>
			<div class="content down-i">
				<div class="content-left">
					<img class="" src={frontpageProduct[0]?.productImage} alt="" />
				</div>
				<div class="content-right">
					<div class="title ">
						{frontpageProduct[0]?.productName}
					</div>
					<div class="price ">
						€{frontpageProduct[0]?.productPrice}
					</div>
					<div set:html={frontpageProduct[0]?.productDescription} class="text fonte-creditos "></div>
					<div class="buttons condensed" >
						<a href={frontpageProduct[0]?.productLink} target="_blank">COMPRAR</a>
					</div>
				</div>
			</div>
		</section>