---
let frontpageProduct = Astro.fetchContent('../pages/posts/frontpage/*.md');

---
<section class="products">
			<div class="title">
				<img class="line left-i" src="/assets/Homepage/section line.svg" alt="line" />
				<div class="title-section right-i">products</div>
			</div>
			<div class="content">
				<div class="content-left">
					<img class="down-i" src={frontpageProduct[0]?.productImage} alt="" />
				</div>
				<div class="content-right">
					<div class="title down-i">{frontpageProduct[0]?.productName}</div>
					<div class="price down-i">€{frontpageProduct[0]?.productPrice}</div>
					<div class="text fonte-creditos down-i">
						{frontpageProduct[0]?.productDescription}
					</div>
					
						<div class="buttons condensed" ><a href={frontpageProduct[0]?.productLink} target="_blank">SHOP NOW</a></div>
					
				</div>
			</div>
		</section>