---
import Bases from './Layout.astro'

const {content} = Astro.props;
const {title, publishDate, author,subname, image} = content;
---
<Bases>
	
	
	<div class="container">
				<div
					class="top"
					style={`
						background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
							url('${image}');
					`}
				>
					
					<div class="headline quotes" style={title.length>16?"font-size:3em !important;":''} >{title}</div>
					<div class="sub-headline">
						{subname}
					</div>
					<div class="sub-text centered">{publishDate} <br />{author}</div>
	
					
				</div>
			</div>
	
			<section class="single-articles white">
				<img class="separator" src="/assets/articles/Line Breaker.svg" alt="" />
				{content.astro.html}
			</section>
</Bases>
